# Data preparation for Basket Analysis

In [6]:
import pandas as pd
product = pd.read_csv('product.csv')   
product.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [7]:
product.nunique()

PRODUCT_ID              92353
MANUFACTURER             6476
DEPARTMENT                 44
BRAND                       2
COMMODITY_DESC            308
SUB_COMMODITY_DESC       2383
CURR_SIZE_OF_PRODUCT     4345
dtype: int64

In [8]:
transaction = pd.read_csv('transaction_data.csv')  
trans_valid= transaction.loc[transaction['SALES_VALUE']>0]
trans_prod =pd.merge(trans_valid, product, how = 'left', on = 'PRODUCT_ID')

In [9]:
trans_prod.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,69,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,2,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,69,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,2,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,69,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB

In [10]:
trans_prod.nunique()

household_key             2500
BASKET_ID               275542
DAY                        711
PRODUCT_ID               91908
QUANTITY                 11746
SALES_VALUE               5501
STORE_ID                   581
RETAIL_DISC               2404
TRANS_TIME                1440
WEEK_NO                    102
COUPON_DISC                285
COUPON_MATCH_DISC           80
MANUFACTURER              6453
DEPARTMENT                  43
BRAND                        2
COMMODITY_DESC             307
SUB_COMMODITY_DESC        2373
CURR_SIZE_OF_PRODUCT      4337
dtype: int64

In [11]:
trans_prod.isnull().sum()

household_key           0
BASKET_ID               0
DAY                     0
PRODUCT_ID              0
QUANTITY                0
SALES_VALUE             0
STORE_ID                0
RETAIL_DISC             0
TRANS_TIME              0
WEEK_NO                 0
COUPON_DISC             0
COUPON_MATCH_DISC       0
MANUFACTURER            0
DEPARTMENT              0
BRAND                   0
COMMODITY_DESC          0
SUB_COMMODITY_DESC      0
CURR_SIZE_OF_PRODUCT    0
dtype: int64

In [12]:
trans_basket = trans_prod[["BASKET_ID","COMMODITY_DESC"]]
trans_basket

           BASKET_ID               COMMODITY_DESC
0        26984851472                     POTATOES
1        26984851472                       ONIONS
2        26984851472      VEGETABLES - ALL OTHERS
3        26984851472               TROPICAL FRUIT
4        26984851472  ORGANICS FRUIT & VEGETABLES
...              ...                          ...
2576877  42305362535                   MARGARINES
2576878  42305362535                   BEERS/ALES
2576879  42305362535                   BEERS/ALES
2576880  42305362535                   BEERS/ALES
2576881  42305362535                    MISC WINE

[2576882 rows x 2 columns]

In [29]:
trans_basket.to_csv('trans_basket.csv')

In [13]:
trans_basket.groupby('COMMODITY_DESC').size().sort_values(ascending=False)[:10]

COMMODITY_DESC
SOFT DRINKS               117211
FLUID MILK PRODUCTS        85494
BAKED BREAD/BUNS/ROLLS     83118
CHEESE                     74783
BAG SNACKS                 66677
FRZN MEAT/MEAT DINNERS     55977
BEEF                       48636
SOUP                       46097
YOGURT                     44664
FROZEN PIZZA               43292
dtype: int64

In [14]:
trans_basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2576882 entries, 0 to 2576881
Data columns (total 2 columns):
 #   Column          Dtype
---  ------          -----
 0   BASKET_ID       int64
 1   COMMODITY_DESC  object
dtypes: int64(1), object(1)
memory usage: 39.3+ MB